#temp_cloth_page {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  /* range custom */
}
#temp_cloth_page .temp_cloth_bar {
  background-color: #FFFA80;
}
#temp_cloth_page #result_of_range {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
#temp_cloth_page .cloth_img {
  margin-top: 15%;
  height: 50%;
  width: 80%;
}
#temp_cloth_page .cloth_img img {
  height: 100%;
  width: 100%;
}
#temp_cloth_page #ment_of_range {
  width: 75%;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  padding-left: 30px;
}
#temp_cloth_page .range {
  -webkit-appearance: none;
  -moz-appearance: none;
  transform: rotate(-90deg);
  position: relative;
  width: 90%;
  bottom: 300px;
  left: 180px;
}
#temp_cloth_page input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px gainsboro;
  background: #4776e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e54e9, #4776e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e54e9, #4776e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 7.5px;
}
#temp_cloth_page input[type=range]:focus {
  outline: none;
}
#temp_cloth_page input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgb(59, 173, 227);
  background: -moz-linear-gradient(45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgb(59, 173, 227)), color-stop(25%, rgb(87, 111, 230)), color-stop(51%, rgb(152, 68, 183)), color-stop(100%, rgb(255, 53, 127)));
  background: -webkit-linear-gradient(45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  background: -o-linear-gradient(45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  background: -ms-linear-gradient(45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  background: linear-gradient(45deg, rgb(59, 173, 227) 0%, rgb(87, 111, 230) 25%, rgb(152, 68, 183) 51%, rgb(255, 53, 127) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3bade3 ", endColorstr="#ff357f ", GradientType=1 );
  height: 2px;
}
#temp_cloth_page input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: white;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
#temp_cloth_page input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 2px solid;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  max-width: 80px;
  position: relative;
  bottom: 11px;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease;
}
#temp_cloth_page .range.purple::-webkit-slider-thumb {
  border-color: rgb(152, 68, 183);
}
#temp_cloth_page .range.purple::-moz-range-thumb {
  border-color: rgb(152, 68, 183);
}
#temp_cloth_page input[type=range]::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
}
#temp_cloth_page input[type=range]::-moz-range-thumb:active {
  cursor: -moz-grabbing;
}

#temp_cloth_page.cloth_move_in_left {
  transition: left 0.5s ease-out;
  left: 0%;
}

#temp_cloth_page.cloth_move_out_right {
  transition: left 0.5s ease-out;
  left: 200%;
}

/*# sourceMappingURL=temp_cloth_page.css.map */
