$gangnam_blue : #0A308A;
$gangnam_yellowgreen : #CBD89B;
$gangnam_yellow : #FFFA80;
$gangnam_pink : #FFD6D6;
$gangnam_grayBlue : #b5c1dc;

$logo_gray : #ECECEC;

$gray1 : rgb(87, 87, 78);
$gray2 : #D9D9D9;

$gray3 : rgb(240, 240, 240);
$opacityBlack : rgba(0,0,0,0.2);
